@section style{
    <link rel="stylesheet" href="/Theme/Customers/LoginPage.css" />
}

 
    <form>
        <h3>Giriş Sayfası</h3>

        <label for="username">Kullanıcı Adı</label>
        <input type="text" placeholder="Email veya Kullanıcı Adı" id="username">

        <label for="password">Şifre</label>
        <input type="password" placeholder="Password" id="password">

        <button>Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
 