@section style {
	<link rel="stylesheet" href="/Theme/Customers/WelcomePage.css" />
}

<header id="welcome">
	<h1>Müzik Platformuna hoşgeldiniz </h1>
	<p>Sizlere hizmet etmekten büyük bir keyif duyuyoruz?</p>
	<p> İyi Eylenceler </p>
	<span id="down">&#8595;</span>
</header>